<div class="form-box">
  <span class="title">Faça seu pedido</span>
  <input type="text" placeholder="Digite seu CEP">
  <button class="btn primary"></button>
  <span class="text h2">Não sabe seu <b>CEP</b>? <a href="#" class="text h2 link">Clique aqui</a></span>
  <span class="text h3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
    of type and scrambled it to make a type specimen book.</span>
</div>

<!-- CRIAR CLASSES CSS -->