<form [formGroup]="confirmForm" (ngSubmit)="onSubmit()" class="form-box between">
    <span class="h1">Confirme o endereço</span>
    <input type="text" class="input" formControlName="localidade" disabled>
    <input type="text" class="input" formControlName="bairro" disabled>
    <input type="text" class="input" formControlName="logradouro" disabled>
    <input type="text" placeholder="N°" formControlName="numero" class="input">
    <input type="text" placeholder="Complemento" formControlName="complemento" class="input">
    <div class="left">
        <button class="btn btn-mustard" (click)="back()">Voltar</button>
        <button class="btn btn-red" (click)="carte()">Confirmar</button>
    </div>
    <span class="info"></span>
</form>