<div class="form-box between">
    <span class="h1">Confirme o endereço</span>
    <input type="text" class="input" [(ngModel)]="address.localidade" disabled>
    <input type="text" class="input" [(ngModel)]="address.bairro" disabled>
    <input type="text" class="input" [(ngModel)]="address.logradouro" disabled>
    <input type="text" placeholder="N°" [(ngModel)]="address.numero" class="input">
    <input type="text" placeholder="Complemento" [(ngModel)]="address.complemento" class="input">
    <div class="left">
        <button class="btn btn-mustard" (click)="back()">Voltar</button>
        <button class="btn btn-red">Confirmar</button>
    </div>
    <span class="info"></span>
</div>