<form class="form-box between">
    <span class="h1">Confirme o endereço</span>
    <input type="text" class="input" [disabled]="true">
    <input type="text" class="input" [disabled]="true">
    <input type="text" class="input" [disabled]="true">
    <input type="text" placeholder="N°" class="input">
    <input type="text" placeholder="Complemento" class="input">
    <div class="left">    
        <button class="btn btn-mustard" (click)="back()">Voltar</button>
        <button class="btn btn-red">Confirmar</button>
    </div>
    <span class="info"></span>
</form>