/* i hate bootstrap /kappa/keppo/keppo/kappa/ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.site-container {
    display: grid;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

/* header component */
.header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #d7271a;
    max-height: 100px;
}

.header img {
    box-sizing: content-box;
    border-radius: 22px;
    width: 140;
    height: 160px;
    box-shadow: 5px 5px 5px 5px rgba(10, 10, 10, 0.15);
    margin-top: 200px;
    position: relative;
    margin-bottom: 100px;
}

.header .nav-btn {
    box-sizing: content-box;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
}

/* main component */
.main {
    grid-area: main;
    display: flex;
    align-items: center;
    background-image: url('../src/assets/imgs/hamburguer_shutterstock.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    height: 600px;
}

.form-box {
    font-family: sans-serif;
    background: rgba(0,0,0,0.71) none;
    border-radius: 5px;
    height: 400px;
    margin: 80px;
    width: 1000px;
    padding: 20px 40px; 
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

.between {
    flex-flow: row wrap;
}

.between .left .btn-red {
    width: 69.33%;
    margin-left: 0.5%;
}

.between .left .btn-mustard {
    width: 30%;
    margin-right: 0.5%;
}

.left { 
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-box .h1 {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 100;
    color:#ffffff;
    margin: 5px;
}

.form-box .input {
    margin-top: 10px;
    border: #d7271a;
    background-size: contain;
    font-size: 24px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #ffffff;
    outline: 0;
    padding: 5px;
    color: #000000;
}

.input:disabled {
    background: #cccccc6e;
    color: #000000;
}

.form-box .btn {
    width: 100%;
    border-radius: 8px;
    align-self: center;
    margin: 10px 0px;
    
}

.form-box .h2 .link {
    text-decoration: underline;
    color: #ffffff;
    outline: 0;
}

.info {
    margin-top: 40px;
    font-size: 12px;
}

/* footer component */
.footer {
    grid-area: footer;
    background-color: #333333;
    min-height: 140px;
}

/* @media queries*/
@media(min-width: 600px) {
    .fa-bars {
        display: none;
    }

}
@media(max-width: 600px) {
    .header .nav-btn {
        display: none;
    }
    
    .form-box {
        margin: 10%;
    }

}

/* icons */
.fa-bars {
    text-decoration: none;
    background-color:rgba(0,0,0,0.71) none;;
    color: #ffffff;
    font-size: 30px;
    margin-top: 35px;
}

/* buttons*/
.btn {
    display: block;
    height: 42px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background-color: #cccccc; 
    color: white;
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
    cursor: pointer;
    outline: 0;
    border: none;
}

.btn-red {
    background-color: #d7271a;
}

.btn-mustard {
    background-color: #f3b600;
}

.btn-white {
    background-color: #ffffff;
}

.btn-black {
    background-color: #333333;
}

.btn-red-out {
    background-color: #ffffff;
    border: 2px #d7271a solid;
    color: #d7271a;
}
    
.btn-white-out {
    background-color: #333333;
    border: 2px #ffffff solid;
    color: #ffffff;
}
    
.btn-black-out {
    background-color: #ffffff;
    border: 2px #333333 solid;
    color: #333333;
}

.btn-red-out:hover {
    background-color: #d7271a;
    color: #ffffff;
}
    
.btn-black-out:hover {
    background-color: #333333;
    color: #ffffff;
}
    
.btn-white-out:hover {
    background-color: #ffffff;
    color: #333333;
}